* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

body {
    background: #FFFAE6;
}

.box_container {
    margin: 36px;
    background: white;
}

.box_container h2 {
    background: #FFFAE6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #FF8A00;
    text-align: center;
    max-width: 500px;
    position: relative;
    left: 50%;
    padding: 0px 120px 12px 120px;
    transform: translateX(-50%);
}

.customer_detail_box h3 {
    color: #FF8A00;
    font-size: 24px;
}

.customer_detail_box {
    display: flex;
    justify-content: space-between;
    padding: 128px;
}

.detail_card .data_box {
    width: 450px;
    border: 1px solid #ccc;
    padding: 10px;
}

.line {
    height: 8px;
    width: 220px;
    background-color: #EEEEEE;
    position: absolute;
    bottom: 65%;
    z-index: -2;
}

.detail_card,
.customer_status {
    position: relative;
    z-index: 2;
    margin: 20px 0;
}

.customer_status {
    position: relative;
    z-index: 2;
}

.customer_detail_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 36px;
}

.customer_detail_left {
    margin-right: 36px;
}

.customer_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.customer_button a#return {
    background-color: #007BFF;
}

.customer_button a#delete {
    background-color: #FF0000;
}

.customer_button a#return:hover {
    background-color: transparent;
    color: #007BFF;
    border: 1px solid #007BFF;
    cursor: pointer;
}

.customer_button a#delete:hover {
    background-color: transparent;
    color: #FF0000;
    border: 1px solid #FF0000;
    cursor: pointer;
}

.customer_button a {
    border: 1px solid transparent;
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.status_box {
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.active {
    border: 1px solid #58FFB0;
    color: #58FFB0;
    display: none;
}

.inactive {
    border: 1px solid #FF3131;
    color: #FF3131;
    display: none;
}

.block {
    display: block;
}

@media screen and (max-width: 1025px) {
    .box_container h2 {
        margin: 0;
        width: 30%;
    }
    .customer_detail_box {
        padding: 36px;
    }
    .box_container {
        font-size: 12px;
    }
}

@media screen and (max-width: 969px) {
    .box_container h2 {
        margin: 0;
        width: 30%;
    }
    .customer_detail_box {
        padding: 36px;
    }
    .box_container {
        font-size: 12px;
    }
    .detail_card .data_box {
        width: 300px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 12px;
    }
    .status_box {
        width: 240px;
    }
}

@media screen and (max-width: 768px) {
    .box_container h2 {
        margin: 0;
        width: 30%;
    }
    .customer_detail_box {
        padding: 36px;
    }
    .box_container {
        font-size: 12px;
    }
    .detail_card .data_box {
        width: 280px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 12px;
    }
    .status_box {
        width: 240px;
    }
    .customer_detail_right {
        margin: 12px;
    }
    .customer_detail_left {
        margin: 12px;
    }
}

@media screen and (max-width: 426px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .box_container h2 {
        font-size: 20px;
        text-align: center;
        width: 100%;
        padding: 4px 20px 4px 20px;
        border-radius: 0;
    }
    .customer_detail_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }
    .detail_card .data_box {
        width: 200px;
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }
    .customer_detail_left {
        text-align: center;
        justify-content: center;
        margin: 0;
    }
    .customer_detail_right {
        text-align: center;
        justify-content: center;
        margin: 0;
    }
    .line {
        height: 8px;
        width: 150px;
        background-color: #EEEEEE;
        position: absolute;
        bottom: 65%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -2;
    }
    .customer_status .line {
        height: 8px;
        width: 240px;
        bottom: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
    .status_box {
        width: 240px;
        margin-top: 12px;
    }
}

@media screen and (max-width: 321px) {
    .box_container h2 {
        font-size: 16px;
        text-align: center;
        width: 100%;
        padding: 4px 0;
        border-radius: 0;
    }
    .customer_detail_box h3 {
        color: #FF8A00;
        font-size: 20px;
    }
    .detail_card .data_box {
        padding: 10px;
        width: 180px;
        font-size: 10px;
    }
    .line {
        height: 8px;
        width: 128px;
        left: 50%;
        transform: translateX(-50%);
    }
    .customer_button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }
    .customer_button a#return {
        background-color: #007BFF;
        margin: 10px 0;
    }
    .customer_button a#delete {
        background-color: #FF0000;
        margin: 10px 0;
    }
    .status_box {
        width: 180px;
        text-align: center;
        font-weight: bold;
    }
    .customer_detail_right {
        align-items: center;
    }
    .customer_status .line {
        height: 8px;
        width: 180px;
        bottom: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
}